@model WorkforceManagement.Models.Computer

@{
    ViewData["Title"] = "DenyDelete";
}

<h2>Delete failed!</h2>

<h4>You cannot delete a computer that has been assigned to an employee</h4>

<a asp-action="Index">Back to List</a>



